@import "../assets/styles/theme";
.store{
    margin-top:2rem;
    overflow: hidden;
    .section-tab{
        max-width:550px;
        width:90%;
        margin:0 auto 2rem auto;
        text-align: center;
        p{
            @extend .body-3;
            color:$gray800;
        }
        ul{
            margin:1rem 0 0;
            padding:0;
            list-style: none;
            @extend .d-flex;
            li{
                @extend .body-2;
                color:$black;
                margin-top:0!important;
                +li{
                    margin-left:2rem;
                }
            }
        }
    } 
    //section-standBy
    .you-choose {
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap:2rem;

            .grid-item {
                position: relative;
                width: 100%;
                box-shadow: $elevation-3;
                border-radius: 1em;
                overflow: hidden;   
                padding:2rem;            
                .item-image {
                    max-width:148px;
                    width:90%;
                    margin:auto;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                        aspect-ratio: 1/1;
                    }
                }
                .details{
                    margin-top:1rem;
                    text-align: center;
                    h4{
                        @extend .heading-6;
                        font-weight: 500;
                        margin:0;
                    }
                    p{
                        margin-top:1rem;
                        @extend .body-3;
                    }
                }
                &:nth-child(1){
                    background-color:#299063;
                    color:$white;
                }
                &:nth-child(2){
                    background-color:#FFDC0C;
                }
                 &:nth-child(3){
                    background-color:$primary_500;
                     color:$white;
                }
            }
        }
    }  
    
    //short review
    .customer-highlight {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:2rem;
        width:100%;
        overflow: hidden;
        .left,
        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-direction: row;
            gap:1rem;
            width:30%;
            .count {
                @extend .heading-2;
                 margin:0;
                span{
                    @extend .heading-2;
                }
            }

            .label {
                @extend .heading-6;
                margin:0;
            }
        }

        

            .right {
                .avatars {
                    display: flex;
                    align-items: center;

                    img {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        border: 2px solid #fff;
                        margin-left: -16px;

                        &:first-child {
                            margin-left: 0;
                        }
                    }

                    .more {
                        background: #000;
                        color: #fff;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: -16px;
                        border: 2px solid #fff;
                    }
                }

                .label {
                   @extend .heading-6;
                   margin:0;
                }
            }
        }
    }

.section-map{
       @extend .d-flex; 
       justify-content: space-between;
       align-items: start;
       width:100%;
       gap:4rem;
       @media(max-width:1024px){
        flex-direction: column;
       }
       .leaflet-bottom{
            &.leaflet-right{
                display:none!important;
            }
       }
       .section-store-map{
            width:calc(50% - 2rem);
            height:100%;
            @extend .d-flex; 
            overflow: hidden;  
            @media(max-width:1024px){
                width:100%;
            }          
       }
       .section-store-map-input{
            width:calc(50% - 2rem);
            height:100%;
            @extend .d-flex; 
            flex-direction: column;
            align-items: start;  
            @media(max-width:1024px){
                width:100%;
            }          
            h4{
                @extend .heading-3;
                font-weight: 400;
                margin-bottom:1.5rem;
            }
            .input-container{
                position: relative;
                width:100%;
                display: flex;
                gap: 1rem; 
                align-items: flex-end;
                justify-content: space-between;
                .stateOption,
                .cityOption,
                .localityOption {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    label {
                        margin-bottom: 0.4rem;
                        @extend .body-3;
                    }
                    select {
                        padding: 0.5rem 1rem;
                        border: 1px solid #ccc;
                        border-radius: 6px;
                        @extend .body-3;
                    }
                }
            }
            .store-list{
                @extend .d-flex; 
                width:100%;
                padding:0;                
                ul{
                    width:100%;
                    list-style: none;
                    margin:0;
                    padding:0;
                    color:$gray700;
                    li{
                        border-bottom:1px solid $gray400;
                        padding:8px 10px;
                        cursor:pointer;
                        strong{
                            @extend .body-2; 
                        }
                        p{
                            @extend .body-3;
                        }
                    }
                }
            }
            .alternative{
                display: block;
                width:100%;
                .or{
                    font-size: 20px;
                    @extend .body-1;
                    color:$black;
                    text-align: center;
                    display: block;
                    margin:1.5rem 0
                }
                .topStore{
                    @extend .d-flex;
                    justify-content: space-between;                    
                    margin-bottom:1.5rem;
                    .store-info{
                        width:30%;
                        .store-image{
                            width:120px;
                            height:120px;
                            margin:0 auto 16px auto;
                            @media(max-width:1450px){
                                padding:0;
                            }
                            img{
                                width:100%;
                                height:100%;
                                object-fit: cover;
                                aspect-ratio: 1/1;
                            }
                        }
                        .details{
                            padding:0 1rem .5rem;
                            text-align: center;
                            @media(max-width:1450px){
                                margin-top:1rem;
                            }
                            p{
                                @extend .body-2;
                                color:$black;
                                margin:0 0 0.5rem 0;
                            }
                            span{
                                @extend .body-3;
                                color:$gray600;
                            }
                        }                        
                    }                    
                }
                p{
                    @extend .body-3;
                    color:$gray600;
                    font-weight: 500;
                    margin:0;
                }
            }
            .store-list-dropdown{
                list-style: none;
                margin:16px 0 0;
                padding:0;
                max-height:450px;
                overflow: hidden;
                overflow-y: scroll;
                padding-bottom:8px;
                width: 100%;
                li{
                    padding:16px 0;                   
                    .city-list-container{
                        .store-name{
                            @extend .d-flex;
                            flex-direction: column;
                            justify-content: start;
                            align-items: start;
                            margin-bottom:8px;
                            .title{
                                @extend .body-1;
                                font-size:24px;
                                font-weight: 500;
                            }
                            .sub-title{
                                @extend .sub-heading-1;
                                font-weight: 500;
                            }
                        }
                        p{
                            @extend .d-flex;
                            justify-content: flex-start;
                            width:100%;
                            @extend .body-3;
                            margin:0;
                            .address{
                                width:calc(100% - 70px);
                                color:$gray600;
                                font-weight: 300;
                                line-height: 1.3;
                                margin-bottom:8px;
                            }                            
                        }
                        .city-name{
                            @extend .d-flex;
                            justify-content: space-between;
                            color:#000;
                            .icon-box{
                                &.copy{
                                    margin-top:-3px;
                                    cursor: pointer;
                                }
                            }
                        }
                        .open-hours{
                            @extend .d-flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: start;
                            width:100%;
                            margin-top:8px;
                            @extend .body-2;
                            .timings{
                                @extend .d-flex;
                                justify-content: space-between;
                                width:100%;   
                                margin-top:8px!important;                            
                                p{
                                    color:$gray600;
                                    font-weight: 300;
                                    font-size:14px;
                                    @media(max-width:1450px){
                                        font-size:12px;
                                    }
                                }
                            }
                            p{
                                @extend .d-flex;
                                align-items: start;
                                justify-content: flex-start;
                                width:33%;
                                &.timings-title{
                                    font-weight: 600;
                                    font-size:16px;                                    
                                }
                            }
                        }
                        .direction-review{
                            @extend .d-flex;
                            justify-content:start;
                            padding:8px 0;
                            border-radius: 8px;
                            gap:2rem;
                            position: relative;
                            margin-top:20px;                           
                            .google-review{
                                @extend .d-flex;
                                justify-content:center;
                                @extend .body-2;
                                width:49%;
                                padding-right: 16px;
                                gap:1rem;
                                .rating-count{
                                    @extend .d-flex;
                                    color:$gray600;
                                    font-weight: 300;
                                    font-size: 14px;
                                }
                                .rating-stars{
                                    @extend .d-flex;
                                    margin-top:-7px;
                                }
                            }
                            .direction-link{
                                @extend .d-flex;
                                justify-content: center;
                                @extend .body-2;
                                width:49%;
                                gap:8px;
                                margin-top:0!important;
                                padding-left: 16px;
                                position: relative;
                                z-index: 5;
                                font-size: 16px;
                                text-transform: uppercase;
                                border:1px solid #1C1B1F;
                                border-radius: 9999px;
                                height:52px;
                                span{
                                    @extend .d-flex;
                                }
                            }
                        }   
                        
                    }   
                    +li{
                        border-top:1px solid #1C1B1F;
                    }                 
                }
            }
       }       
}

.leaflet-container {
    height: 100%;
    width: 100%;
    z-index: 0;
}