.before-after-carousel {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
  border-radius: 16px;
  border:1px solid #C8C8C8;
  @media(max-width:700px){
    width: 80%;
    border:none;
    margin-top:3rem;
  }

  .slider-item {
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 16px;
    overflow: hidden;
    img{
      width:100%;
      height:100%;
      object-fit: cover;    
    }

    .react-compare-image {
      border-radius: 10px;
      overflow: hidden;
    }
  }  

  .slick-prev,
  .slick-next {
    z-index: 10;
  }
  .slick-slider .navNext.ban{
      right: -2rem;
      width: 30px;
      height: 30px;
  }
  .slick-slider .navPrev.bap{
      left: -2rem;
      width: 30px;
      height: 30px;
  }
}
