.before-after-carousel {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
  border-radius: 16px;
  border:1px solid #C8C8C8;
  @media(max-width:700px){
    width: 80%;
    border:none;
    margin-top:3rem;
  }

  .slider-item {
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 16px;
    overflow: hidden;
    img{
      width:100%;
      height:100%;
      object-fit: cover;    
    }

    .react-compare-image {
      border-radius: 10px;
      overflow: hidden;
    }
  }  

  .navPrev,
  .navNext {
    z-index: 10;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    cursor: pointer;
    svg{
      color:#fff;
    }
  }
  .slick-slider .navNext.ban{
      right: -3.5rem;
  }
  .slick-slider .navPrev.bap{
      left: -3.5rem;
  }
}
