@import "../assets/styles/theme";
.client{
    @extend .d-flex;
    justify-content: space-between;
    gap:1rem;
    margin:5.5rem;
    .item{
        @extend .d-flex;
        //flex:1;
        justify-content: start;
        gap:.5rem;
        h4{
            @extend .heading-2;
        }
        span{
             @extend .heading-6;
        }
        &.flex-2{
            flex:2;
        }
    }
}