@import "../assets/styles/theme";

.google-reviews {
  background: white;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 0 auto;
  border:1px solid $gray100;
  width:calc(100% - 350px);
  height:100%;
  align-content: stretch;
  .review-header {
        @extend .d-flex;  
        margin-bottom: 16px;

    .google-logo {
        @extend .d-flex;  
        width:142px;
        height:48px;
      img{
        width:100%;
        height:100%;
        aspect-ratio: auto 142 / 48;
      }
    }

    .title {
        font-size: 1.25rem;
        font-weight: 400;
        margin-left:1rem;
        color:$black;
    }
  }

  .reviews {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .review {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        align-items: center;
        gap:1rem;

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .name {
          //font-weight: bold;
          font-size: 14px;
        }

        .stars {
          color: #FFD700;
          font-size: 14px;
        }
      }

      .date {
        font-size: 12px;
        color: $gray600;
        margin:0;
        .ph-row{
          margin:0;
          & div{
            height: 7px;
            margin:0;
          }
        }
      }
      &.skelton-ui{
        .ph-item{
          border: none;
          align-items: center;
          width: 100%;
          flex-direction: row;  
          padding: 0;   
          margin:0;       
          .ph-col-2{
            &.avtar-section{
              width:40px;
              flex:1;
              margin:0;
              padding:0;
            }
          }          
          .ph-avatar{
            width: 40px;
            min-width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          .leftitem{
            padding: 0;
            margin:0;
            display: flex;
            justify-content: start;
            flex-direction: row;
            align-items: center;
            width: calc(100% - 250px);
          }
        }
        .empty-box{
          width: calc(100% - 60px);
          display: flex;
          flex-direction: column;
          padding: 0;
          margin:0;
          .ph-row{
           & div{
             height: 7px;
           }
          }
        }
      }
      
    }
  }

  .review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .leave-note {
      font-size: 14px;
      color: $gray500;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .write-review {
      background: black;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 12px;
    }
  }
}
