@import "../assets/styles/theme";

.header{
    @extend .width-fluid;
    @extend .d-flex;
    padding:1rem 4rem;
    height:6rem;
    gap:1rem;
    .navigation{
        width:100%;
        @extend .d-flex;
        justify-content: space-between;
        gap:2rem;
        .section-logo{
           @extend .d-flex;
           flex:1;
           justify-content: flex-start;
           a{
            @extend .d-flex;
            height:100%;
            justify-content: flex-start;
            img{
                display: block;
                object-fit: cover;
                width: 100%; 
                height: 100%; 
                aspect-ratio: auto 170 / 37;
            }
           }
        }
        .section-nav{
            @extend .d-flex;
            flex:2;
            nav{
                ul{
                    @extend .d-flex;
                    margin:0;
                    padding:0;
                    list-style: none;
                    li{
                        a{
                            font-size:1.125rem;
                            font-weight: 300;
                            &.active{
                                color: $black;
                                font-weight: 400;
                            }
                        }
                        +li{
                            margin-left:$lg;
                        }
                    }
                }
                
            }
        }
        .section-contact{
            @extend .d-flex;
            flex:1;
            justify-content:flex-end;
            gap:1rem;
            .btn{
                width:180px;
            }
            .icon-box{
                width:16px;
                height:16px;
                margin-left:.75rem;
                svg{
                    width:16px;
                    height:16px;
                }
                &:hover{
                    svg{
                       fill:$white;
                    }
                }
            }
        }
    }
    .user-dropdown {
        position: relative;
        display: inline-block;

            .user-icon {
                cursor: pointer;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                @extend .d-flex;
                border:1px solid $gray400;
            }

            .dropdownMenu {
                position: absolute;
                top: 100%;
                left: 50%;
                width: 240px;
                background: white;
                padding: 16px;
                border-radius: 10px;
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
                transform:translateX(-50%);
                transition: opacity 0.3s ease;
                z-index: 999;

                h3 {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 600;
                }

                p {
                    font-size: 14px;
                    color: #555;
                    margin: 8px 0 16px;
                }

                .buttons {
                    display: flex;
                    gap: 10px;

                .login {
                    flex: 1;
                    background-color: $black;
                    color: white;
                    border: none;
                    padding: 8px 0;
                    border-radius: 6px;
                    cursor: pointer;
                    text-align: center;
                    &:hover {
                        background-color: $black;
                    }
                }

                .register {
                    flex: 1;
                    background-color: #f1f1f1;
                    color: #333;
                    border: none;
                    padding: 8px 0;
                    border-radius: 6px;
                    cursor: pointer;
                    text-align: center;
                    &:hover {
                        background-color: #ddd;
                    }
                }
            }
        }

       
    }
    &.sticky-header {
        transition: all 0.3s ease;
        backdrop-filter: blur(10px);
        will-change: transform, background-color, box-shadow;
      }
}

.auth-bottom-sheet{
    [data-rsbs-overlay]{
        max-width: 768px;
        width:100%;
        margin: 0 auto;
    } 
}

.slideMenu{
    width:100%;
    height:100%;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -100%; // hidden initially
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 200;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);

  &.open {
    left: 0; // slide in
  }  
  .sidebar-header {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-item {
    padding: 0.75rem 1rem;
    cursor: pointer;  
    font-size:16px;  
    &.active {
      background: #f8f9fa;
    }

    .submenu {
      padding-left: 1.5rem;
      font-size: 0.9rem;
      display: none;
    }

    &.selected .submenu {
      display: block;
      .active{
         background: #f8f9fa;
      }
    }
  } 
  .service-section{
    padding: 0.75rem 1rem;
    .menu-service{
        font-size:16px;
        font-weight: 600;
        text-align: center;
        margin:.5rem 0 1rem 0
    }
    .sidebar-service{
        .title{
            font-size:16px;
            font-weight: 500;
        }
        p{
            font-size: 12px;
            margin:0;
        }
    } 
    img{
        border-radius: 10px;
    }
    .s-item{
        width:calc(100% - 46px)
    }
  }
  
}

.scrolled-content{   
    padding-bottom:100px;  
    min-height: 500px;   
    max-height: 100vh;  
    overflow-y: auto;   
    overflow-x: hidden;  
    scroll-behavior: smooth;
    .abs-btn{
        position: absolute;
        width: 100%;
        left:0;
        bottom:0
    }
    .icon-btn{
        width:48%;
        height:40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:.5rem;
        border:1px solid $gray400;
        border-radius:40px;
        cursor: pointer;
        font-size:14px;
        font-weight: 500;
        &.book-now{
            background-color: black;
            color:$white
        }
    }
  }