@import "../assets/styles/theme";

.hero-slider {
  width: 100%;
  margin: 0 auto;
  .slider-item {
    width:100%;
    height:40vw;
    overflow: hidden;
    display: block;
    @extend .lg-radius;
    position:relative;
    @media(max-width:1400px){
      height:45vw;
    }
    &.mobile{
      height:80vh;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    .hero-title{
      position:absolute;
      left:50%;
      bottom:50px;
      transform:translateX(-50%);
      @extend .d-flex;
      flex-direction: column;
      @media(max-width:768px){
        width:80%;
        text-align: center;
      }
      h3{
        text-align: center;
        @extend .heading-2;
        color:$white;
        font-weight: 400;
        margin-bottom:1.5rem;
      }
      .btn{
        width:250px;
        height:56px;
        gap:.5rem;
        &.secondary{
          background-color:$black;
        }
        .icon-box{
          width: 16px;
          height: 16px;
        }
        @media(max-width:768px){
          width:200px;
          font-size:12px;
        }
      }
    }
  }

  .slick-dots {
    bottom: 15px;
    li button:before {
      font-size: 12px;
      color: $white;
      opacity: 0.7;
    }

    li.slick-active button:before {
      color: $accent;
      opacity: 1;
    }
  }

  .slick-slider{
        .navPrev,
        .navNext{
            position:absolute;
            top:50%;            
            transform:translateY(-50%);
            width:45px;
            height:45px;
            //border:1px solid $gray700;
            @extend .d-flex;
            border:none;
            border-radius: 100%;
            z-index: 2;
            cursor:pointer;
            background-color:rgba(0, 0, 0, 0.25);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            svg{
                color:$white;
                width:18px;
                height:18px;
            }
            @media(max-width:768px){
              width:30px;
              height:30px;
              svg{
                width:14px;
                height:14px;
              }
            }
        }
        .navPrev{
            left:10px;
        }
        .navNext{
            right:10px;
        }
    }
}
