@import "../assets/styles/theme";
.realSlider{
    display: block;
    width:350px;
    min-height:500px;
    overflow: hidden;
    @media(max-width:768px){
        width:100%;
    }
    .slider-item{
        border-radius: 1rem;
        overflow: hidden;
        border:none;
        img, video{
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
    .slick-slider{
        .prevArrow{
            width:32px;
            height:32px;
            @extend .d-flex;
            background-color: rgba($white, .5);
            position:absolute;
            border-radius: 100%;
            z-index: 99;
            right:50px;
            bottom:24px;
            cursor: pointer;
        }
        .nextArrow{
            width:32px;
            height:32px;
            @extend .d-flex;
            background-color: rgba($white, .5);
            position:absolute;
            border-radius: 100%;
            z-index: 99;
            right:10px;
            bottom:24px;
            cursor: pointer;
        }
    }
}