@import "../assets/styles/theme";
.solution-finder {
  text-align: center;
  margin-bottom: 3em;

  h2 {
    font-size: 20px;
    margin-bottom: 2rem;
  }

  .dropdowns {
    display: flex;
    justify-content: center;
    gap:2%;
    flex-wrap: wrap;
    max-width: 758px;
    width:90%;
    margin: 0 auto 2rem auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    @media(max-width:700px){
      width:100%;
    }
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    background: #f9fafa;    
    border-radius: 4px;
    width:48%;

    label {
      font-size: 12px;
      text-align: left;
      color: $gray600;
      margin-bottom: 4px;
      padding:4px 1rem  0 1rem;
      @media(max-width:700px){
       margin-bottom:0;
       padding: .5rem 1rem;
      }
    }

    select {
      padding: 8px 12px;
      border: none;
      border-bottom: 1px solid #49454F;
      background: transparent;
      font-size: 14px;
      outline: none;
      cursor: pointer;
      color:#49454F;
    }
  }
}
