$primary: #03AEBB; 
$primary-900:#1A6770;
$primary-700:#008696;
$primary-500:#2FBCCC;
$primary-300:#8DDAE3;
$primary-200:#C6EBF1;
$primary-100:#E2FAFC;
$primary-50:#EBF8FB;
$secondary: #FFBB00; 
$accent: #FF7215; 
$rating: #FFBA4A;  
$success: #00BF8C; 
$warning: #EEB71C; 
$danger: #BF2012; 
$white:#fff;
$black:#000;
$gray100: #e5e5e5;
$gray200: #cccccc;
$gray300: #b2b2b2;
$gray400: #999999;
$gray500: #7f7f7f;
$gray600: #666666;
$gray700: #4c4c4c;
$gray800: #323232;
$gray900: #191919;
$line: $gray200;
$label: $gray500;

// Overlay Colors
$dark-overlay: rgba($black, 0.5);
$light-overlay: rgba($white, 0.3);

// Elevation Shadows
$elevation-1: 0px 1px 3px rgba($black, 0.3);
$elevation-2: 0px 1.25px 4px rgba($black, 0.25);
$elevation-3: 0px 2px 6px rgba($black, 0.22);
$elevation-4: 0px 2px 7px rgba($black, 0.24);
$elevation-5: 0px 3px 12px rgba($black, 0.2);
$elevation-6: 0px 2px 14px rgba($black, 0.2);
$elevation-7: 0px 7px 18px rgba($black, 0.17);
$elevation-8: 0px 12px 28px rgba($black, 0.2);
$elevation-9: 0px 13px 36px rgba($black, 0.22);
$elevation-negative-1: 0px -4px 40px rgba($black, 0.2);
$elevation-primary-btn: 
  2px 2px 12px rgba($primary_500, 0.25),
  0px 2px 8px rgba($primary_500, 0.25);

$primaryGradient: linear-gradient(31deg,rgba(15, 23, 27, 1) 7%, rgba(33, 87, 121, 1) 79%);
.box-shadow {
    box-shadow:
        2px 2px 12px rgba($primary-500, 0.25),
        0px 2px 8px rgba($primary-500, 0.25);
}

//fonts
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;
$xxl: 48px;
$full: 9999px;

//family
$kanit: "Kanit", sans-serif;
$amiri:"Amiri", serif;

// display
.width-fluid{
    max-width:100%;
    width:100%;
}
.width-lg{
    max-width:1760px;
    width:90%;
    margin:auto;
    @media(max-width:1368px){
        max-width:1280px;
        width:90%;
    }
}
.width-md{
    max-width:1280px;
    width:90%;
    margin:auto;
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    &.square{
        grid-column: span 1;
        grid-row: span 2;
    }
    &.tall {
        grid-row: span 3;
    }
    &.full{
        grid-column: span 4;
    }
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.sm-radius{
    border-radius: 4px;
}
.md-radius{
    border-radius: 8px;
}
.lg-radius{
    border-radius: 16px;
}
.xl-radius{
    border-radius: 32px;
}
.full-radius{
    border-radius: 99999px;
}
.text-upper{
    text-transform:uppercase;
}
.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}
.mb-25{
    margin-bottom:25px;
}
.mb-20{
    margin-bottom:20px;
}
.mb-30{
    margin-bottom:30px;
}
.mt-25{
    margin-top:25px;
}
.mt-30{
    margin-top:30px;
}
.overflowHidden{
    overflow:hidden
}
//heading
.heading-1{
    font-family: $kanit;
    font-weight:600;
    font-size:42px;
    line-height: 1.54;
    @media(max-width:768px){
        font-size:37px;
        line-height: 1.54;
    }
}
.heading-2{
    font-family: $kanit;
    font-weight:500;
    font-size:32px;
    line-height: 1.55;
    @media(max-width:768px){
        font-size:29px;
        line-height: 1.59;
    }
}
.heading-3{
    font-family: $kanit;
    font-weight:600;
    font-size:26px;
    line-height: 1.58;
    @media(max-width:768px){
        font-size:23px;
        line-height: 1.61;
    }
}
.heading-4{
    font-family: $kanit;
    font-weight:300;
    font-size:36px;
    line-height: 1.28;
    @media(max-width:768px){
        font-size:31px;
        line-height: 1.32;
    }
}
.heading-5{
    font-family: $kanit;
    font-weight:500;
    font-size:27px;
    line-height: 1.33;
    @media(max-width:768px){
        font-size:25px;
        line-height: 1.32;
    }
}
.heading-6{
    font-family: $kanit;
    font-weight:400;
    font-size:22px;
    line-height: 1.3;
    letter-spacing: 0.15px;
    @media(max-width:768px){
        font-size:18px;
        line-height: 1.44;
    }
}

//subheading
.sub-heading-1{
    font-family: $kanit;
    font-weight:600;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
}

.sub-heading-2{
    font-family: $kanit;
    font-weight:500;
    font-size:14px;
    line-height: 1.43;
    letter-spacing: 0.1px;
}

//body
.body-1{
    font-family: $kanit;
    font-weight:400;
    font-size:18px;
    line-height: 1.56;
    letter-spacing: 0.5px;
    +.body-1{
        margin-top:8px;
    }
}
.body-2{
    font-family: $kanit;
    font-weight:400;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.25px;
    +.body-2{
        margin-top:8px;
    }
}
.body-3{
    font-family: $kanit;
    font-weight:400;
    font-size:14px;
    line-height: 1.71;
    letter-spacing: 0.1px;
}
.body-4{
    font-family: $kanit;
    font-weight:400;
    font-size:12px;
    line-height: 1.5;
    letter-spacing: 0.2px;
}
.caption-{
    font-family: $kanit;
    font-weight:400;
    font-size:13px;
    line-height: 1.23;
    letter-spacing: 0.4px;
}
.overline{
    font-family: $kanit;
    font-weight:700;
    font-size:12px;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 2.5px;
}

//Action
.btn{
    font-family: $kanit;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}
.action-btn-1{  
    @extend .btn;  
    font-size:14px;
    line-height: 1.43;   
}

.action-btn-2{
    @extend .btn;  
    font-size:12px;   
    line-height: 1.56;
}

//Link

.link{
    font-family: $kanit;
    font-size:14px;
    line-height: 1.71;  
    letter-spacing: 1.15px;
}
.link-1{
    @extend .link;
    font-weight:400;
}
.link-2{
    @extend .link;
    font-weight:500;
    text-decoration-line: underline;
}

//Breadcrumbs
.breadcrumbs{      
   ul{
       margin:0;
       padding:0;
       list-style-type: none;
       @extend .d-flex; 
       justify-content: flex-start;
       li{           
            padding:2px 4px 0 4px;
            position:relative;
            color:$gray500;
            a, span{
                @extend .body-4;
                color:$gray500;
                position:relative;                              
                
            }
            +li{
                padding: 2px 4px 0 14px;
                &:after{
                    content:"/";
                    position:absolute;
                    top:3px;
                    left:2px;                    
                }
    
            }
       }
   }
}

//Buttons
.base-btn{
    @extend .full-radius;
    @extend .action-btn-1;
    cursor: pointer;   
    &.btn-lg {
        @extend .d-flex;
        height: 56px;
    }
    &.btn-md{
        @extend .d-flex;
        height: 48px;
    }
    &.btn-sm{
        @extend .d-flex;
        @extend .action-btn-2;
        height: 40px;   
    }
    &.primary{
        background-color: $primary-900;        
        color: $white;
        transition: box-shadow 0.3s ease-in-out;
        &:hover{
            box-shadow:
                2px 2px 12px rgba($gray500, 0.25),
                0px 2px 8px rgba($gray500, 0.25),
                inset 4px 4px 40px rgba($black, 0.08),
                inset -4px -4px 40px rgba($black, 0.16);
        }   
        &.disabled{
            background-color: $line;
            box-shadow: none;
            color: $label;
            opacity: 0.5;
            &:hover{
                box-shadow:none;
                cursor:unset;
            }
        }    
    }
    &.secondary {
        background-color: $gray500;
        color: $white;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $black;
            color: $white;
        }

        &.disabled {
            background-color: $line;
            color: $label;
            opacity: 0.5;
            cursor: unset;
        }
    }
    &.outlined {
        color: $black;
        border: 1px solid $gray500;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $black;
            color: $white;
        }

        &.disabled {
            color: $label;
            border-color: $line;
            background-color: transparent;
            opacity: 0.5;
            cursor: unset;
        }
    }
    &.text {
        color: $gray500;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: $gray700;
        }

        &.disabled {
            color: $label;
            background-color: transparent;
            opacity: 0.5;
            cursor: unset;
        }
    }  
}

.icon-box{
   @extend .d-flex;
   width:40px;
   height:40px;

}
